@import "reset.css";
/* header */
:root{
    --border: border: 1px solid rgba(0, 0, 0, .2);
    --main-red: #F43142;
}

.skip{
    position: absolute;
    overflow: hidden;
    /* clip: rect(0 0 0 0); */
    margin: -1px;
    width: 1px;
    height: 1px;
}

.header{
    width: 100%;
}

.header__header{

    background-color: #fff;
    width: 1240px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* 햄버거 버튼 */

.header__hambuger-btn{
    border: var(--border);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 10%);
    position: relative;
}

.header__hambuger-btn > img{
    width: 23px;
    height: 22px;
    position: absolute;
    right: 18px;
    top: 18px;
}

/* 로고 */

.header__logo{
    width: 94px;
    height: 40px;
}

/* 검색창 */

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__search-text{
    width: 511px;
    height: 51px;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.header__search-text:focus{
    outline: none;
}

.header__search-text::placeholder{
    text-indent: 20px;
    font-weight: 400;
    font-size: 16px;
}

/* 검색창 돋보기 아이콘 */

.header__search-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6px;
}

/* 랭킹 메뉴 */

.header__ranking-menu{
    position: relative;
}

.header__ranking-menu__number{
    font-style: italic;
    font-weight: 600;
    color: var(--main-red);
}

.header__ranking-menu__text{
    font-weight: 600;
    font-size: 14px;
    margin-right: 52px;
}

.header__ranking-menu-icon{
    width: 10px;
    height: 5px;
    position: absolute;
    top: 6px;
    right: -5px;
}

/* 아이콘 메뉴 */

.header__header-icon{
    width: 254px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__header-icon__icons{
    width: 33px;
    height: 31px;
}
.header__header-icon__icons:last-child{
    width: 42px;
    height: 42px;
}

/* header_nav */

.header_nav{
    width: 100%;
    box-shadow: 3px 1px 2px 0px rgb(0, 0 ,0 , 10%);
}

.header_nav__liner{
    border-top: 1px solid rgba( 238, 238, 238, 1);
    width: 1240px;
    margin: 0 auto;
    height: 66px;
    line-height: 66px;
    
}

.header_nav__column{
    position: relative;
    margin: 0 20px;
    /* display: flex;
    align-items: center; */
    float: left;
}

.header_nav__item{
    margin-right: 22px;
    float: left;
    position: relative;
}

.header_nav__item:hover{
    border-bottom: 2px solid var(--main-red);
}

.header_nav__item a{
    text-decoration: none;
    color: #000;
}

.header_nav__item-img{
    /* display: block; */
    overflow: hidden;
    line-height: 200px;
    background: no-repeat;
    background-image: url(/img/header/shocking-deal.png);
    width: 63px;
    height: 65px;
    background-size: 62px 22px;
    position: absolute;
    top: 24px;
}

.header_nav__column-etc{
    display: flex;
    /* align-items: center; */
    float: right;
    /* position: absolute; */
}

.header_nav__item_right{
    margin: 0px 10px 0px 0px;
}

.header_nav__item_right:hover{
    text-decoration: underline;
}

.header_nav__item_right a{
    /* position: absolute; */
    text-decoration: none;
    color: #000;
    border-right: 1px solid rgba( 238, 238, 238, 1);
    padding-right: 10px;
    height: 10px;
}

.header_nav__flag{
    width: 100px;
    height: 20px;
    text-decoration: none;
}

.header_nav__flag img{
    width: 20px;
    height: 20px;
}

.haeder_nav__right-line{
    border-right: 1px solid rgba( 238, 238, 238, 1);
    height: 10px;
}

.silde{
    display: flex;
}

