/* 시선집중 */
.slideshow-container__see-focus{
    position: relative;
}

.see-focus{
    background: #F6F7FB;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 990px;
    margin: 0 auto;
}

.see-focus__pos{
    display: flex;  
}

.see-focus__slide-pos{
    display: flex;
    position: relative;
}

.see-focus__pos-child{
    display: flex;
    position: relative;
    flex-direction: column;
}

.see-focus__title{
    padding-top: 56px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 26px;
}

.see-focus__pos{
    /* display: flex; */
    position: relative;
}

.see-focus__column{
    width: 400px;
    height: 370px;
    background-color: #FFFFFF;
    margin: 25px 0px 0px 20px;
    border-radius: 10px;
    border: 1px solid rgba( 238, 238, 238, 1);
    transition: 0.3 ease-in-out;
}

.see-focus__column:hover{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
}

.see-focus__column:last-child{
    padding-right: 10px;
}

.see-focus__column img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.see-focus__info{
    position: relative;
    padding: 20px 20px 0 20px;
}

.see-focus__flag{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 22px;
    color: #f43142;
    background-color: #FFF7F8;
    position: absolute;
    top: -12px;
    left: 21px;
}

.see-focus__flag-item{
    display: block;
    height: 22px;
    padding: 2px 4px 1px;
    border: 1px solid rgba(244, 49, 66, 0.4);
    font-size: 12px;
    line-height: 1.4;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.see-focus__info-title{
    padding-top: 2px; 
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    max-height: 23px;
    line-height: 20px;
}

/* 상품 가격 */

.see-focus__info-price{
    margin-top: 15px;
}

.see-focus__info-price .sale{
    color: var(--main-red);
    position: relative;
    display: inline;
    margin-right: 10px;
}

.see-focus__info-price .sale-solo{
    color: var(--main-red);
    position: relative;
    display: inline;
    margin-right: 20px;
}

.see-focus__info-price .sale-no{
    color: var(--main-red);
    position: relative;
    display: inline;
    margin-right: 0;
}

.see-focus__info-price .sale span:first-child{
    font-size: 25px;
}

.see-focus__info-price .sale .see-focus__solo-unit{
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 28px;
}

.see-focus__info-price .sale .see-focus__solo-unit{
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 15px;
    margin-right: 10px;
}

.see-focus__info-price .price{
    font-size: 14px;
    display: inline;
    
}

.see-focus__info-price .price__num{
    font-size: 24px;
    font-weight: 600;
}

.see-focus__info-price .price_regular{
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}

.see-focus__info-option{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
}

.see-focus__info-option-point{
    color: #0b83e6;
}

.see-focus__hit-product{
    width: 350px;
    border-top: 1px solid rgba(224, 223, 223, 0.3);

}

.see-focus__hit-product span{
    margin: 16px 0;
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
}

.see-focus__dots{
    position: absolute;
    bottom: -55px;
    right: 45%;
    width: 90px;
}

.see-focus__dots ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-focus__dots ul li{
    background-color: rgba(0, 0, 0, .6);
    border-radius: 50%;
    width: 9px;
    height: 9px;
}

.see-focus__dots ul li a{
    color: transparent;
}

/* banner */
.see-focus__banner{
    margin: 0 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.see-focus__banner-column__ele{
    background-color: #A18770;
    border-radius: 10px;
    position: relative;
    width: 606px;
    height: 218px;
}

.see-focus__banner-column__ele a{
    color: #fff;
    margin-top: 55px;
    margin-left: 42px;
    margin-bottom: 29px;
    position: absolute;
    font-size: 24px;
    /* position: relative; */
    top: 0;
}

.see-focus__banner-column__ele span{
    position: absolute;
    margin-top: 99px;
    margin-left: 42px;
    font-size: 18px;
    color: #fff;
}

.see-focus__banner-column__ele img{
    border-radius: 50%;
    right: 0px;
    top: 30px;
    position: absolute;
    margin-right: 42px;
}

.see-focus__banner-column:nth-child(2) img{
    margin-left: 30px;
}

.see-focus__banner-big{
    width: 100%;
    margin-top: 50px;
}